*,
*:before,
*:after {
  line-height: 1.3;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: rgba(40, 42, 46, 0.778);
}

html {
  font-size: 62.5%;
  font-family: "Lato", sans-serif;
  scroll-behavior: smooth;
  box-sizing: border-box;
  background-color: white;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  font-size: 3rem;
  font-weight: 500;
}

h1,
h2,
h3 {
  text-align: center;
  margin-top: 2rem;
}

h1,
.author {
  max-width: 25ch;
  font-size: 4rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

p {
  margin-top: 2rem;
  font-size: 2.5rem;
}

q {
  quotes: none;
}

li {
  font-size: 2rem;
  max-width: 41ch;
  line-height: 1.5;
  list-style-type: none;
  font-weight: 600;
}

.text-accent {
  color: #778083;
}

.text-secondary {
  color: rgb(167, 157, 157);
  font-weight: 900;
}

.text-primary {
  color: rgb(233, 239, 243);
}

.text-brown {
  color: #575050;
}

.text-thick {
  font-weight: 900;
}

.text-c {
  text-align: center;
}

.gutek {
  color: #ea6300;
}

@media (min-width: 64em) {
  h1,
  .author {
    font-size: 4.5rem;
  }
  h2 {
    font-size: 5.5rem;
  }
  li {
    font-size: 2.5rem;
    margin-left: 2.5rem;
  }
}
@media (min-width: 87.5em) {
  h1,
  .author {
    font-size: 5.5rem;
  }
}
@media (max-width: 87.4375em) {
  h1,
  h2,
  h3 {
    margin-top: 3rem;
  }
  p {
    text-align: center;
  }
}
.background {
  height: 100vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.contact.background {
  height: unset;
}

img {
  width: 100%;
}

.container {
  padding: 2rem 5rem;
}

.container-sm {
  padding: 1rem 4rem;
}

.pt7 {
  padding-top: 7rem;
}

.pb7 {
  padding-bottom: 7rem;
}

.flex {
  display: flex;
}

.ai-cent {
  align-items: center;
}

.jc-cent {
  justify-content: center;
}

.grid {
  display: grid;
  gap: 20px;
  justify-items: center;
  justify-content: center;
}

.m-auto {
  margin: 0 auto;
}

.mch-30 {
  max-width: 45ch;
}

.mch-25 {
  max-width: 25ch;
}

.mw-17 {
  max-width: 1700px;
}

@media (min-width: 52.9375em) {
  .grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
  }
}
.mt-0 {
  margin-top: 0;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-4 {
  margin-top: 4rem;
}

.mr-1 {
  margin-right: 1rem;
}

@media (min-width: 64em) {
  .about.container {
    padding: 2rem 2rem 8rem 1rem;
  }
  .mch-30 {
    max-width: 30ch;
  }
  .f-col {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 63.9375em) {
  .about .grid {
    grid: none;
    justify-content: unset;
  }
  .flex {
    flex-direction: column;
    align-items: center;
  }
  .hero .flex {
    align-items: unset;
    flex-direction: row;
  }
  .prices .grid {
    justify-items: stretch;
    justify-content: center;
    min-width: 80vw;
    grid-template-columns: unset;
  }
}
@media (max-width: 53em) {
  .hero .flex {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 53em) {
  .hidden {
    display: none;
  }
}
.hero {
  margin-top: 0;
  background-image: url("../img/background_dog.png");
}

.navbar {
  display: flex;
  flex-direction: row;
  width: 100vw;
  justify-content: space-around;
  background: rgba(255, 255, 255, 0.6);
}

.navbar__links > a:hover {
  transform: scale(1.2);
  font-weight: 900;
  transition: all 0.5s ease-in-out;
  color: rgba(121, 31, 31, 0.6);
}

.navbar__links > a:hover > p {
  color: rgba(67, 61, 61, 0.6);
  padding: 0 2rem;
  transition: all 0.5s ease-in-out;
}

.navbar_logo {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  transform: translateY(5px);
}

.navbar__links {
  gap: 35px;
  margin: 0 2rem;
}

.hero__quote {
  margin-top: 19vh;
  margin-left: 8vw;
  background-color: rgba(255, 255, 255, 0.4);
  text-align: center;
  border-radius: 10px;
}

.author {
  margin-left: 18vw;
}

@media (max-width: 53em) {
  .hero-content {
    margin: auto auto;
  }
  .navbar,
  .navbar__links {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .navbar {
    padding: 15rem 0;
    gap: 36px;
    max-width: 500px;
    border-radius: 15px;
    height: 65vh;
    margin: 0 auto;
    justify-content: flex-start;
  }
  .navbar__links {
    gap: 40px;
  }
}
@media (min-width: 52.9375em) {
  .author,
  .hero__quote {
    display: inline-block;
  }
  .navbar {
    max-height: 150px;
  }
  .navbar_logo {
    width: 180px;
    height: 180px;
    transform: translateY(38%);
  }
}
.about {
  width: 100%;
  background-color: #fbfbfb;
}

.about__owner {
  margin-top: 3rem;
  gap: 100px;
}

.about__header {
  color: rgb(76, 76, 76);
  display: flex;
  text-wrap: nowrap;
  font-weight: 800;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 0;
}

.about_info {
  justify-self: start;
}

.about__me {
  background-image: url("../img/hairdresser_while_work.webp");
  max-width: 800px;
  opacity: 0.9;
  filter: drop-shadow(2px 4px 6px black);
  border-radius: 50px;
  justify-self: end;
}

.about__logo {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  margin: 0 auto;
  display: inherit;
}

.fa-heart:before {
  color: red;
  font-size: 4rem;
}

.fa-paw:before {
  color: #6e1b1b;
}

@media (min-width: 64em) {
  .about__logo {
    width: 150px;
    height: 150px;
  }
  .about__me {
    height: 80rem;
  }
  .about__info {
    display: grid;
    justify-items: center;
  }
}
@media (max-width: 63.9375em) {
  .about__me {
    margin: 0 auto;
    margin-top: 2rem;
    height: 50rem;
  }
  .about__info {
    margin: 0 auto 2rem;
  }
}
.prices {
  background-image: url("../img/inside2.png");
  height: unset;
}

.prices > li {
  color: white;
}

.prices__services {
  max-width: 1200px;
  margin: 0 auto;
}

.prices__services-items {
  background-color: #c0c0c0;
  border-radius: 20px;
  padding: 2rem 3rem;
}

.prices__container {
  background-color: rgb(233, 239, 243);
  border-radius: 20px;
  padding: 2rem 3rem;
}

.prices__details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10rem;
}

.prices__size {
  display: flex;
  align-items: center;
}

.prices .fa-solid.fa-paw {
  transform: translate(5px, 2px);
  margin-right: 5px;
}

.fa-star::before {
  color: #6e1b1b;
}

@media (max-width: 63.9375em) {
  .prices__services-items {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .prices__services-items > .sm {
    font-size: 2rem;
  }
  .prices__services-items li {
    font-size: 2.5rem;
  }
}
.contact {
  background-color: rgb(234, 234, 235);
  flex-direction: column;
}

.dogs__contact {
  display: flex;
  gap: 15px;
  width: 100%;
}

.dog-labrador {
  margin-top: 6rem;
}

.dog-big {
  transform: translateY(20px);
}

.dog-small {
  margin-top: 5rem;
}

.dogs__logo {
  flex-direction: row;
  width: 400px;
  gap: 20px;
  background-color: rgba(216, 211, 211, 0.6);
  border-radius: 12px;
  padding: 2rem;
}

@media (min-width: 52.9375em) {
  .dogs__contact {
    width: 100%;
    margin-top: 8rem;
  }
  .dogs__logo {
    margin-top: 8rem;
  }
  .dog-big {
    margin-left: 5px;
  }
}
@media (min-width: 64em) {
  .dogs__logo {
    width: 550px;
  }
}/*# sourceMappingURL=styles.css.map */