.about {
  width: 100%;
  background-color: #fbfbfb;
}

.about__owner {
  margin-top: 3rem;
  gap: 100px;
}

.about__header {
  color: rgb(76 76 76);
  display: flex;
  text-wrap: nowrap;
  font-weight: 800;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 0;
}

.about_info {
  justify-self: start;
}

.about__me {
  background-image: url("../img/hairdresser_while_work.webp");
  max-width: 800px;
  opacity: 0.9;
  filter: drop-shadow(2px 4px 6px black);
  border-radius: 50px;
  justify-self: end;
}

.about__logo {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  margin: 0 auto;
  display: inherit;
}

.fa-heart:before {
  color: red;
  font-size: 4rem;
}

.fa-paw:before {
  color: #6e1b1b;
}

@include breakpoint-up(large) {
  .about__logo {
    width: 150px;
    height: 150px;
  }

  .about__me {
    height: 80rem;
  }

  .about__info {
    // justify-self: start;
    display: grid;
    justify-items: center;
  }
}

@include breakpoint-down(medium) {
  .about__me {
    margin: 0 auto;
    margin-top: 2rem;
    height: 50rem;
  }

  .about__info {
    margin: 0 auto 2rem;
  }
}
