.contact {
  background-color: rgb(234 234 235);
  flex-direction: column;
}

.dogs__contact {
  display: flex;
  gap: 15px;
  width: 100%;
}

.dog-labrador {
  margin-top: 6rem;
}

.dog-big {
  transform: translateY(20px);
}

.dog-small {
  margin-top: 5rem;
}

.dogs__logo {
  flex-direction: row;
  width: 400px;
  gap: 20px;
  background-color: rgb(216 211 211 / 60%);
  border-radius: 12px;
  padding: 2rem;
}

@include breakpoint-up(medium) {
  .dogs__contact {
    width: 100%;
    margin-top: 8rem;
  }

  .dogs__logo {
    margin-top: 8rem;
  }

  .dog-big {
    margin-left: 5px;
  }
}

@include breakpoint-up(large) {
  .dogs__logo {
    width: 550px;
  }
}
