.prices {
  background-image: url("../img/inside2.png");
  height: unset;
}

.prices > li {
  color: white;
}

.prices__services {
  max-width: 1200px;
  margin: 0 auto;
}

.prices__services-items {
  background-color: #c0c0c0;
  border-radius: 20px;
  padding: 2rem 3rem;
}

.prices__container {
  background-color: rgb(233 239 243);
  border-radius: 20px;
  padding: 2rem 3rem;
}

.prices__details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10rem;
}

.prices__size {
  display: flex;
  align-items: center;
}

.prices .fa-solid.fa-paw {
  transform: translate(5px, 2px);
  margin-right: 5px;
}

.fa-star::before {
  color: #6e1b1b;
}

@include breakpoint-down(medium) {
  .prices__services-items {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .prices__services-items > .sm {
    font-size: 2rem;
  }

  .prices__services-items li {
    font-size: 2.5rem;
  }
}
