<section class="about container">
  <div>
    <img src="img/gutek_logo.webp" class="about__logo" />
    <h2 class="about__header">Gutek Psi Salon</h2>
  </div>
  <div class="about__owner grid grid--1x2 mt-2">
    <div class="about__me background"></div>
    <div class="about_info flex f-col jc-cent">
      <h3 class="text-accent">Witam i zapraszam Państwa do psiego salonu</h3>
      <i class="fa-solid fa-heart mt-2"></i>
      <p>Miejsce to powstało z pasji miłości do zwierząt.</p>
      <h3 class="text-accent">Ze swojej strony oferuję:</h3>
      <ul class="mt-2">
        <li><i class="fa-solid fa-paw mr-1"></i> Uczciwą usługę</li>
        <li>
          <i class="fa-solid fa-paw mr-1"></i> Pracę na wysokiej jakości
          kosmetykach, sprawdzonych ale przedewszystkim bezpiecznych dla waszych
          pupili
        </li>
        <li>
          <i class="fa-solid fa-paw mr-1"></i> Indywidualnie dobrane kosmetyki
          do każdego rodzaju szaty
        </li>
      </ul>
      <h3 class="mch-30 mt-2 text-accent">
        Moim priorytetem jest dbanie o wygląd, komfort, samopoczucie oraz
        zadowolenie Waszych pupili i Was Drodzy Właściciele
      </h3>
    </div>
  </div>
</section>
