<section class="hero flex background">
    <div class="hero-content">
      <nav class="navbar ai-cent container-sm">
        <a href="">
          <img src="/img/gutek_logo.webp" alt="" class="navbar_logo" />
        </a>
        <div class="flex navbar__links">
          <a href="">
            <p>O mnie</p>
          </a>
          <a href="">
            <p>Cennik&Usługi</p>
          </a>
          <a href="">
            <p>Galeria</p>
          </a>
          <a href="">
            <p>Kontakt</p>
          </a>
        </div>
      </nav>
      <div class="hero__quote hidden">
        <h1>
          „Psy nie są całym naszym życiem, ale sprawiają, że nasze życie jest
          całe”
        </h1>
        <p class="author">Roger Caras</p class="author">
      </div>
    </div>
  </section>