<section class="prices">
  <div class="container">
    <div>
      <img src="img/gutek_logo.webp" class="about__logo mt-4" />
      <h2 class="about__header gutek">Gutek Psi Fryzjer</h2>
    </div>
  </div>
  <div class="grid grid--1x2 container ai-cent prices__services">
    <div class="prices__services-items">
      <p class="text-secondary">We wszystkich usługach uwzględnione jest</p>
      <ul class="text-white">
        <li class="text-white">
          <i class="fa-solid fa-star mr-1 mt-2"></i>kąpiel i suszenie
        </li>
        <li class="text-white">
          <i class="fa-solid fa-star mr-1"></i>obcinanie pazurów
        </li>
        <li class="text-white"><i class="fa-solid fa-star mr-1"></i>higiena</li>
        <li class="text-white">
          <i class="fa-solid fa-star mr-1"></i>czyszczenie
        </li>
      </ul>
    </div>
    <p class="text-white">
      Podane ceny są cenami orientacyjnymi. Koszt usługi uzależniony jest od
      wielkości psa, rasy, zachowania, kondycji szaty oraz odstępu między
      wizytami.
    </p>
  </div>
  <div class="grid grid--1x2 container">
    <div class="prices__container mt-2">
      <h3 class="text-secondary">KĄPIEL + SUSZENIE</h3>
      <ul>
        <li>
          <div class="prices__details">
            <span class="prices__size">
              <p class="text-white">Małe</p>
              <i class="fa-solid fa-paw"></i>
            </span>
            <p class="text-white">60zł</p>
          </div>
        </li>
        <li>
          <div class="prices__details">
            <span class="prices__size">
              <p class="text-white">Średnie</p>
              <i class="fa-solid fa-paw"></i><i class="fa-solid fa-paw"></i>
            </span>
            <p class="text-white">80zł</p>
          </div>
        </li>
        <li>
          <div class="prices__details">
            <span class="prices__size">
              <p class="text-white">Duże</p>
              <i class="fa-solid fa-paw"></i><i class="fa-solid fa-paw"></i
              ><i class="fa-solid fa-paw"></i>
            </span>
            <p class="text-white">150zl</p>
          </div>
        </li>
        <li>
          <div class="prices__details">
            <span class="prices__size">
              <p class="text-white">Olbrzymy</p>
              <i class="fa-solid fa-paw"></i><i class="fa-solid fa-paw"></i
              ><i class="fa-solid fa-paw"></i><i class="fa-solid fa-paw"></i>
            </span>
            <p class="text-white">od 180zł</p>
          </div>
        </li>
      </ul>
    </div>
    <div class="prices__container mt-2">
      <h3 class="mch-32 text-secondary">
        KĄPIEL + SUSZENIE + PAZURY + HIGIENA + CZYSZCZENIE USZU I OCZU
      </h3>
      <ul>
        <li>
          <div class="prices__details">
            <span class="prices__size">
              <p class="text-white">Małe</p>
              <i class="fa-solid fa-paw"></i>
            </span>
            <p class="text-white">100zł</p>
          </div>
        </li>
        <li>
          <div class="prices__details">
            <span class="prices__size">
              <p class="text-white">Średnie</p>
              <i class="fa-solid fa-paw"></i><i class="fa-solid fa-paw"></i>
            </span>
            <p class="text-white">130zł</p>
          </div>
        </li>
        <li>
          <div class="prices__details">
            <span class="prices__size">
              <p class="text-white">Duże</p>
              <i class="fa-solid fa-paw"></i><i class="fa-solid fa-paw"></i
              ><i class="fa-solid fa-paw"></i>
            </span>
            <p class="text-white">150-200zł</p>
          </div>
        </li>
        <li>
          <div class="prices__details">
            <span class="prices__size">
              <p class="text-white">Olbrzymy</p>
              <i class="fa-solid fa-paw"></i><i class="fa-solid fa-paw"></i
              ><i class="fa-solid fa-paw"></i><i class="fa-solid fa-paw"></i>
            </span>
            <p class="text-white">od 200zł</p>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="grid grid--1x2 container">
    <div class="prices__container mt-2 text-secondary">
      <h3 class="text-secondary">USUWANIE PODSZERSTKA + KĄPIEL</h3>
      <ul>
        <li>
          <div class="prices__details">
            <span class="prices__size">
              <p class="text-white">Małe</p>
              <i class="fa-solid fa-paw"></i>
            </span>
            <p class="text-white">110zł</p>
          </div>
        </li>
        <li>
          <div class="prices__details">
            <span class="prices__size">
              <p class="text-white">Średnie</p>
              <i class="fa-solid fa-paw"></i><i class="fa-solid fa-paw"></i>
            </span>
            <p class="text-white">120-140zł</p>
          </div>
        </li>
        <li>
          <div class="prices__details">
            <span class="prices__size">
              <p class="text-white">Duże</p>
              <i class="fa-solid fa-paw"></i><i class="fa-solid fa-paw"></i
              ><i class="fa-solid fa-paw"></i>
            </span>
            <p class="text-white">140-200zl</p>
          </div>
        </li>
        <li>
          <div class="prices__details">
            <span class="prices__size">
              <p class="text-white">Olbrzymy</p>
              <i class="fa-solid fa-paw"></i><i class="fa-solid fa-paw"></i
              ><i class="fa-solid fa-paw"></i><i class="fa-solid fa-paw"></i>
            </span>
            <p class="text-white">od 200zł</p>
          </div>
        </li>
      </ul>
    </div>
    <div class="prices__container mt-2">
      <h3 class="text-secondary">TRYMOWANIE + KĄPIEL</h3>
      <ul>
        <li>
          <div class="prices__details">
            <span class="prices__size">
              <p class="text-white">Małe</p>
              <i class="fa-solid fa-paw"></i>
            </span>
            <p class="text-white">180zł</p>
          </div>
        </li>
        <li>
          <div class="prices__details">
            <span class="prices__size">
              <p class="text-white">Średnie</p>
              <i class="fa-solid fa-paw"></i><i class="fa-solid fa-paw"></i>
            </span>
            <p class="text-white">200zł</p>
          </div>
        </li>
        <li>
          <div class="prices__details">
            <span class="prices__size">
              <p class="text-white">Duże</p>
              <i class="fa-solid fa-paw"></i><i class="fa-solid fa-paw"></i
              ><i class="fa-solid fa-paw"></i>
            </span>
            <p class="text-white">od 200zł</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
